body{
	background: url(../image/bg.png) no-repeat;
	background-color: #363a42;
}

.navigator{
	height:40px;
	margin:-10px;
}

.logo{ 
    height:100px; 
    margin:-10px; 
} 

.content{
    height:1500px; 
    width: 1000px;
    margin:20px auto;  
    margin-top:10px;
    border:1.5px solid #98858c; 
    background-color: white;
}

.left{
	width: 146px;
	height: 1498px;
	float:left; 
}

.userPhoto{
	margin-left:20px;
	margin-top:30px;
	width:100px;
	height: 100px;
	overflow:hidden;
}

.userPhoto img{
	width:100px;
	height: 100px;
}

.userInfo{
	margin-left:10px;
	margin-top:15px;
	width:120px;
	height:100px;
}

.menu{
	margin-top:60px;
	margin-left:5px;
	width:135px;
	height:300px;
}

.ui-menu { 
	width:130px;
	font-size: 12px; 
    font-family: "Lucida Grande", Arial, sans-serif; 
    display:inline-block;
}

.center{
	width:610px;
	height: 1498px;
	float:left;
    border-left:1.5px solid #98858c; 
    border-right:1.5px solid #98858c; 

}

.createNews{
	width:520px;
	height:200px;
	margin-top:20px;
	margin-left:50px;
}

.newsTab{
	width:570px;
	height:20px;
	margin-left:20px;
	border-top:2.5px solid #b33b44; 
}

.newsInfo{
	width:570px;
	height:1220px;
	margin-left:20px;
}

.singleNews{
	width:568px;
	margin-top: 18px;
	border-bottom:1px solid #98858C; 
}

.newsContents{
	width:566px;
	height:70px;
}

.headImage{
	width:55px;
	height:55px;
	float: left;
	margin-top:5px;
	overflow:hidden;
}

.headImage img{
	width:55px;
	height:55px;
}

.detailContents{
	width:500px;
	height:65px;
	float: right;
}

.operation{
	width: 566px;
	height:20px;
}

.operation ul{
	float: right;
}

.page{
	width: 180px;
	height:20px;
	margin-right: 18px;
	float: right;
}

.right{
	width:240px;
	height: 1498px;
	float:right;
}

.mainElement{
	margin-top:60px;
	margin-left:20px;
	width:200px;
	height:200px;
 	border-top:2px solid #b33b44; 
}

.hyperlink{
	margin-top:60px;
	margin-left:20px;
	width:200px;
	height:300px;
	border-top:2px solid #b33b44; 
}

.advertisement{
	margin-top:60px;
	margin-left:20px;
	width:200px;
	height:300px;
 	border-top:2px solid #b33b44; 
}

.bottom{
    height:30px; 
    width: 1000px;
    margin:20px auto; 
    margin-top:-20px; 
}

.a1{
  	color:#fff;
    font-size: 12px; 
    font-family: "Lucida Grande", Arial, sans-serif; 
    margin-left: 170px;
}

.a2{
    font-size: 12px; 
    font-family: "Lucida Grande", Arial, sans-serif; 
}

.a3{
  	color:#fff;
    font-size: 12px; 
    font-family: "Lucida Grande", Arial, sans-serif; 
    margin-left:250px;
}

.a4{
    font-size: 12px; 
    color:#98858c;
    font-family: "Lucida Grande", Arial, sans-serif; 
    margin-top:10px;
}

.a5{
    font-size: 12px; 
    font-family: "Lucida Grande", Arial, sans-serif; 
    margin-left:10px;
}

ul{
	list-style: none;
}

li{
	float:left;
	margin-left: 35px;
}

.bottom li{
	margin-top:10px;
}

.operation li{
	float:left;
	margin-left: 15px;
	margin-top: -10px;
}

.page li{
	float:left;
	margin-left: 15px;
	margin-top: -10px;
}

.navigator a{
    color:#fff; 
    text-decoration:none;
} 

a{
    color:#98858c; 
    text-decoration:none;
} 

.page a{
    color:black; 
    text-decoration:none;
} 

a:hover{
    color:#5090d0; 
    text-decoration:underline;
} 

.button {
	width:100px;
	height:26px;
	background:url(../image/buttonbg.jpg) no-repeat; 
	cursor:pointer;
	margin-left: -0px;
}

input{
	border:none;
	border:1px solid #CCC;
	vertical-align:middle; 
}

.input {
	height:26px; 
	line-height:24px; 
	width:250px;
	margin-left:30px; 
}